{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}

<div>
    {% for pokemon in data %}
        <strong>{{pokemon.name}}</strong>
        <img src="{{pokemon.image}}" width="100">
        <p>{{'points de vie: '}}{{pokemon.stats.HP}}</p>
        <p>{{"points d'attaque: "}}{{pokemon.stats.attack}}</p>
        <p>{{'points de défense: '}}{{pokemon.stats.defense}}</p>
    {% endfor %}
</div>

{% endblock %}
